*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
     background-color: hsl(235, 18%, 26%);
}
body{
    width: 100%;   
    margin: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color:  hsl(234, 29%, 20%);
    overflow-y: hidden;
    

}
main{
    width:70%;
    height: 100%;
    max-width: 1024px;
    margin: 40px auto;
}


.NewsLettter-Container{
    margin: auto;
   padding: 20px;
   background-color: white;
   border-radius: 30px;
   transition: all 0.5s ease-in-out; 
}
.NewsLettter-Container-content{
   display: flex;
    justify-content: space-evenly;
}
.stay-updated{
    width: 65%;
    padding: 20px 30px;
}

.stay-updated-picture{
    background-image: url("assets/images/illustration-sign-up-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover; 
    width: 50%;
}
.stay-updated-text, .stay-updated-title, .stay-updated-list,.stay-updated-Email{
    margin: 30px 0;
}
.stay-updated-list ul{
    list-style: none;
}

.stay-updated-list li{
    margin:15px 0;
    display: flex;
    align-items: center; 
    
}
.stay-updated-list li img{
margin-right: 20px;
}
form input, .stay-updated-Email button{
   border-radius: 10px;
   width: 100%;
   margin-top: 20px;
}
.form-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form input{
    border: 1px solid  hsl(231, 7%, 60%); 
       padding: 1.25rem;
         outline: none;
}
button:hover{
    background: linear-gradient( 90deg, rgba(255, 87, 147, 1) 0%, 
    rgba(255, 93, 126, 1) 18%, rgba(255, 98, 87, 1) 38% );
}
.stay-updated-Email button{
background-color: hsl(234, 29%, 20%);
text-align: center;
font-size: 14px;
color: white;
border: none;
 padding: 1.25rem;
 cursor: pointer;

}

.hidden{
    display: none;
}
.success-message-container{
    margin: auto;
    width: 550px;
    height:550px;
   background-color: white;
   border-radius: 30px;
}
.success-feedback-content{
display: flex;
height: 100%;
flex-direction: column;
justify-content: space-around;
margin: auto;
line-height: 1.5;
padding: 4rem 3rem
}

.warning{
   margin: 0 10px;
}
#usermail{
    font-weight: 900;
}
.thank-you-message h1{
        font-size: 4rem;
        font-weight: 700;
}


@media only screen and (max-width:800px){


main{
    width: 100%;
    max-width: 1024px;
    margin:0;
  
}
.NewsLettter-Container{
    width: 100%;
    padding: 0;   
    margin: 0;
    border-radius: 0;
}
.NewsLettter-Container-content{
    display: flex;
    flex-direction: column-reverse;
     width: 100%;
    height: 100vh;
     max-height: 100%;
    padding: 0;   
    margin: 0;
    border-radius: 0;
    padding-bottom: 20px;

}

.stay-updated-picture{
    background-image: url("assets/images/illustration-sign-up-mobile.svg");
     background-repeat: no-repeat;
    background-position:center;
    background-size: cover; 
    height: 100%;
    width: auto;
    border-radius: 0 0px 20px 20px;
    
   
}
.stay-updated{
    width: 100%;
  margin: 0;
  padding: 0 20px;
}

.success-message-container{
    width: 100%;
    height: 100vh;
    border-radius: 0;
    padding: 0;
    display: hidden;
    align-items: center;
    padding: 30px 0;
}
.success-feedback-content{
display: flex;
justify-content: space-between;
padding:1rem;
}
.thank-you-message h1{
        font-size: 2rem;
        font-weight: 700;
       
}
.stay-updated-Email {
    margin: 0;
}


}